<figure id="video_player">
    <div id="video_container">
      <video controls poster="vid-glacier.jpg">
        <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/AirFest08_Thunderbirds2.webmhd.webm" type="video/webm">
        <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/AirFest08_Thunderbirds2.mp4.mp4" type="video/mp4">
      </video>
    </div>
    <figcaption>
      <a href="glacier.mp4" class="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/AirFest08_Thunderbirds2.mp4.mp4">
        <img src="glacier.jpg" alt="Athabasca Glacier">
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/BlueAngels_Promo.mp4.mp4">
        <img src="lake.jpg" alt="Athabasca Lake">
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/CajalcoLabyrinth_CoronaCalifornia.mp4.mp4">
        <img src="mountain.jpg" alt="Mountain">
      </a>
    </figcaption>
  </figure>