<h2>Advertising: Website Banners</h2>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">Leaderboard (top of page)</div>
  <div class="col-sm">728 x 90 pixels</div>
  <div class="col-sm">$199/week*</div>
  <div class="col-sm"></div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">Skyscraper (right side of page)</div>
    <div class="col-sm">160 x 600 pixels</div>
    <div class="col-sm">$149/week*</div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">Tile Ad (within page)</div>
      <div class="col-sm">130 x 100 pixels</div>
      <div class="col-sm">$99/week*</div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div style="text-align: left; font-size: small;">* based on a minimum 3 month commitment.</div>
    </div>
    <div class="row">
      <div class="col-md-10">
          <p>Contact aSoCalTelevision associate for more information
<br/>
              Fill Out The Form Below:</p>
      </div>
    </div>