<figure class="video_player">
  <div class="video_container">
  <video controls controlsList="nodownload" poster="https://socaltelevision.s3-us-west-2.amazonaws.com/OCAutoShow2019/OCautoShow2019_thumb.png" playsinline class="myVideo" (ended)="videoEnd()">
      <source src="https://socaltelevision.s3-us-west-2.amazonaws.com/OCAutoShow2019/OCAutoShow_2019.mp4" type="video/mp4">
      <!-- <source src="https://socaltelevision.s3-us-west-2.amazonaws.com/GlenIvyHotSprings/GlenIvyHotSprings-CoronaCA_Full+HD+1080p.webmhd.webm" type="video/webm">
      <source src="https://socaltelevision.s3-us-west-2.amazonaws.com/GlenIvyHotSprings/GlenIvyHotSprings-CoronaCA_Full+HD+1080p.oggtheora.ogv" type="video/ogg">
      <source src="https://socaltelevision.s3-us-west-2.amazonaws.com/GlenIvyHotSprings/GlenIvyHotSprings-CoronaCA_FullHD1080p_720p.mp4" type="video/mp4">
      <source src="https://socaltelevision.s3-us-west-2.amazonaws.com/GlenIvyHotSprings/GlenIvyHotSprings-CoronaCA_480wideSD.mp4" type="video/mp4"> -->
  </video>
  </div>
  <figcaption>
  <a routerLink="/ocautoshow2019" class="currentvid">
  <img src="https://socaltelevision.s3-us-west-2.amazonaws.com/OCAutoShow2019/OCautoShow2019_thumb.png" alt="2019 OC Auto Show">
  </a>
  <a routerLink="/home-video-1">
      <img src="https://socaltelevision.s3-us-west-2.amazonaws.com/HighlandParkBowl/HighlandParkBowl_thumb.png" alt="Highland Park Bowl - Est. 1927">
  </a>
  <a routerLink="/home-video-2">
    <img src="https://socaltelevision.s3-us-west-2.amazonaws.com/KrispyKremeReecesDoughnuts/reecesKrispyKreme_thumb.png" alt="Limited Edition Reeces Krispy Kreme Doughnuts">
  </a>
  </figcaption>
  </figure>