<figure class="video_player">
        <div class="video_container">
        <video autoplay controls poster="assets/images/video_thumbs/Cajaclco-laberynth.png" playsinline class="myVideo" (ended)="videoEnd()">
          <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/CajalcoLabyrinth_CoronaCalifornia.mp4.mp4" type="video/mp4">
          <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/CajalcoLabyrinth_CoronaCalifornia.webmhd.webm" type="video/webm">
      </video>
      </div>
      <figcaption>
        <a href="https://thenewcode.com/assets/videos/glacier.mp4" class="currentvid">
          <img src="https://thenewcode.com/assets/images/vid-glacier.jpg" alt="Athabasca Glacier">
        </a>
        <a href="https://thenewcode.com/assets/videos/lake.mp4">
          <img src="https://thenewcode.com/assets/images/vid-lake.jpg" alt="Athabasca Lake">
        </a>
        <a href="https://thenewcode.com/assets/videos/mountain.mp4">
          <img src="https://thenewcode.com/assets/images/vid-mountain.jpg" alt="Mountain">
        </a>
      </figcaption>
      </figure>