
#weather {
    height: 525px;
    z-index: -1;
} 

#weather-map1 {
    z-index: -1; 
    border: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 11%;
}
/* #weather-map1 {
    z-index: -1; 
    margin-top: -5%; 
    border: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
} */
