#weather {
    height: 525px;
    z-index: -1;
} 

#weather-map1 {
    z-index: -1; 
    margin-top: -5%; 
    border: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
div.ui.container {
    width: 100%;
    padding-top: -10%;
    padding-right: 0px;
    padding-left: 0px;
}