#weather-map1 {
    z-index: -1; 
    margin-top: -5%; 
    border: none;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
app-weather {
    width: 100%;
    padding-top: 10%;
    padding-right: 0px;
    padding-left: 0px;
}