<h3 class="top">Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
  <h6 class="top">California</h6>
    <li class="nav-item">
      <a class="nav-link" routerLink="/socaltelevision">SoCal Television</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ktla5">KTLA 5</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/fox5sandiego">Fox 5 San Diego</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/fox11la">Fox 11 LA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/bakersfield-news-23abc">23 ABC - Bakersfield News</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/kron4">KRON4 San Farancisco</a>
          </li>
  </ul>