.top {
    padding-top: 10%;
}

@media only screen and (min-width: 400px) {
    .videoContainer {
        margin-left: 1%;
        padding-right: 2%;
    }
    .video {
        border: none;
        width: 420px;
        height: 237px;
        border-radius: 25px;
        box-shadow:1px 1px 45px lightgray;
        margin-left: 5%;
    }

}

@media screen and (min-width: 800px) {
    #videoContainer {
        padding-left: 15%;
        padding-right: 2%;
    
    }
    .video {
        border: none;
        width: 620px;
        height: 350px;
        border-radius: 25px;
        box-shadow:1px 1px 45px lightgray;
        margin-left: 25%;
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark {
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark {
        display: none;
    }
} 


#videoContainer {
    padding-left: 25%;

}

