
<h3 class="top">Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/socaltelevision">SoCal Television</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ktla5">KTLA 5 LA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/fox5sandiego">Fox 5 San Diego</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/fox11la">Fox 11 LA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hawaii-news-now">Hawaii News Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kitv4-hawaii">KITV 4 Hawaii</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/khon2-hawaii">KHON 2 Hawaii</a>
        </li>
  </ul>
