  <!-- <p class="top col-md-12"></p> -->
  <h3 class="top">You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="videoContainer">

      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSoCalTelevision%2Fvideos%2F725298820843516%2F&width=770&show_text=false&appId=1297395473683747&height=411"
      width="770" height="411" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
      allow="encrypted-media" allowFullScreen="true"></iframe>
    
    <!-- <iframe
    src="https://www.facebook.com/SoCalTelevision/videos/725298820843516/?width=770&height=433&volume=0&muted=true&autoplay=false" 
    type="video/mp4" class="video" volume="0" autoplay="false" >
  </iframe> -->
</span>

