<app-weather-leaderbanner></app-weather-leaderbanner>

      <h3>You're Watching</h3>
      <h1>{{stationName}}</h1>
    
      <div class="container">
          <div class="row">
                    <!-- <div class="col-sm" style="max-width:250px;"> -->
          <!-- Horoscope Start -->
          <!-- <h5>Daily Horoscope</h5>
            <iframe height="600px" frameborder="0" width="220px" style="max-width:250px;" src="https://www.ask-oracle.com/embed/?bgcolor=%23ccc&textcolor=%23ddd&linkcolor=blue"></iframe>       -->
          <!-- Horoscope End -->
        <!-- </div> -->
            <div class="col-sm">
                <span style="color: navy">Back to </span><a routerLink="/stations-main"><button  class="btn-primary" style="border-radius: 15px;">LIVE TV CHANNELS</button></a>

                <app-ktla5-video></app-ktla5-video>

                <br/><br/>
                
                <span>{{description}}</span>
              <p>{{subdescription}}</p>
              <app-social-share-icons></app-social-share-icons>
            </div>
                    <!-- <div class="col-sm" > -->
          <!-- Stock Market Widget Start -->
          <!-- <h5>Daily Stocks</h5>
            <iframe src="https://investingwidgets.com/leading-stocks?theme=darkTheme&hideTitle=true&roundedCorners=false" width="110%" height="600" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif; color: black;">Powered by <a href="https://www.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=LEADING_STOCKS&amp;utm_content=Footer%20Link" style="color: black;" target="_blank" rel="nofollow">Investing.com</a></div> -->
          <!-- Stock Market Widget End -->
          <!-- </div> -->
          </div>
        </div>
    <!-- <p><a class="nav-link btn btn-primary" href="//worldtelevision.tv/#/khou-11" target="_blank">Watch the News Conference of Santa Fe, Texas Shooting LIVE</a></p> -->
