<p style="padding-top: 10%;">Advertise on SoCalTelevision.com</p>
<p>Sponser the Inland Empire Television Network - SoCal Television</p>
<p>Interested in showcasing your business, travel locations, products, services, or events<br />
  on<br />
  SoCal Television</p>
  
  <table width="571" border="0" cellpadding="5" cellspacing="0">
    <tr bgcolor="#333333">
      <td colspan="2" align="center" valign="bottom"><div id="subHeader" align="center">INLAND EMPIRE TELEVISION NETWORK<br />
        ADVERTISING PACKAGES <br />
        </div></td>
      </tr>
    <tr>      </tr>
    <tr>
      <td width="151" align="left" valign="bottom" bgcolor="#666666">IETV Package Prices</td>
      <td align="center" valign="bottom" bgcolor="#666666"><div id="div3" align="center"> Air-Time Special Packages</div></td>
      </tr>
    <tr>
      <td align="center" valign="top" bgcolor="#333333"><div align="left" class="AdvertisingSubSubheadings" id="sponcerPrices">$47.99 per Month*</div>        </td>
      <td align="left" valign="top" bgcolor="#CCCCCC" class="pageContent_Top">One - 10 second freeze-frame advertisement aired one time on SoCal Television during our community advertising segment that displays between all programming and during the hours of 10:00pm to 2:00pm 365 days a year. We guarantee each advertising segment will rotate through our schedule. <br />
        <br />
        SoCal Television is broadcasted to reach your target market group both locally and worldwide. <br />
        <br />
        This includes: Airing of One 10-second freeze-frame advertisement with your contact information in text.<br />
        <br />
        <span >**10-second freeze-frame production Not included      <br />
          _________________________________________________<br /></span></td></tr></table>