<p>
    We are pleased to offer your company the opportunity to advertise on SoCalTelevision.com.
    Advertising packages run the gamut, from complete site-wide branding integration on both mobile and web, to editorial sponsorship, product listings, commercials and simple banner ads - all designed to position your company on the cutting edge of the beach and surfing lifestyle. SoCalTelevision.com delivers live tv feeds throughout the nation, and is available to over 325 million people nation wide, with well of over 40 million page views per month, our advertising space is limited. If you would like more information about Advertising on SoCalTelevision.com please email us at:<br/>
    SoCalTelevision@gmail.com
</p>
