.btn, .col-sm-4, .col-sm-6 {
    margin-top: 1%;
}
.col-sm-6 {
    background-color: cornflowerblue;
    border-bottom-color: 2px solid navy;
}
.col-sm-4 {
    background-color: cornflowerblue;
    border-bottom-color: 2px solid navy;
}