<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>
<div class="container-1">
<!-- Weather Component -->
<div style="width: 768px;" class="img-responsive"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87679" width="768" height="92" frameborder="0" scrolling="no"></iframe><a style="float: right;position: relative;z-index: 1;height: 92px;width: 20px;margin: -92px 0 0 0;text-indent: -9999em" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow"></a></div>
<!-- END Weather Component -->
<h3>SoCal Television - Show Archives</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-6, title">{{ show0_title }}</div>
    <div class="col-sm-4, btn"><a href="{{ show0_url }}" target="_blank" class="btn btn-primary">Click Here to Watch</a></div>
  </div>
  <div class="row">
    <div class="col-sm-6, title">{{ show1_title }}</div>
    <div class="col-sm-4,  btn"><a href="{{ show1_url }}" target="_blank" class="btn btn-primary">Click Here to Watch</a></div>
  </div>
  <div class="row">
    <div class="col-sm-6, title">{{ show2_title }}</div>
    <div class="col-sm-4, btn"><a href="{{ show2_url }}" target="_blank" class="btn btn-primary">Click Here to Watch</a></div>
  </div>
</div>

<p>Watch SoCal Television 24/7 at <a class="nav-link" routerLink="">www.SoCalTelevision.com</a></p>

<p>Please Like and Follow @SoCalTelevision on social!</p>

<p>SoCAL television is also distributed through DVD. <a routerLink="contact">Contact us</a> for more information about DVD's of the show.
</p>
</div>