
.col-sm-6 {
    background-color:  rgb(0, 28, 80);
    border-bottom-color: 2px solid navy;
    color: azure;
    margin-top: 1%;
    
}
.title {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
