<div class="row">
<div class="col-sm-10">
  <h3>{{ p1 }}</h3>
</div>
<div class="col-sm-10">
    {{ p2 }}
  </div>
  <div class="col-sm-10">
      {{ p3 }}
    </div>
    <div class="col-sm-10">
        <h4>Advertising on SoCal Television</h4>
    </div>
    <ul>
      <li>Allows you to advertise 24 hours a day, 7 days a week</li>
      <li>Drives traffic to your website through a hyper-link</li>
      <li>Reaches your target marketing group with a more intimate & interactive experience</li>
    </ul>
    <hr>
    <div style="text-align: center;">
        Advertise your business on SoCal Television and discover a powerful new way to reach new customers, and strengthen your relationship with current customers.
<br/><br/>
        SoCal Television Advertising is Targetable, Trackable, Flexible, and Interactive 24/7!
<br/><br/>
        SoCal Television has the information and tools you need to reach your target-marketing group in the most cost-effective manner. 
   <br/><br/>
   <a routerLink="advertisement-banners" class="btn btn-success">Click here to View Banner Advertising Rates</a>
   
      </div>
</div>
